@{
    ViewBag.Title = "Home Page";
}

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.js"></script>*@
    </head>
    <body>
        测试结果：<div id="div_test">

        </div>
    </body>
    </html>
<script>
    $(function () {
        $.ajax({
            type: "get",
            url:"http://192.168.10.130:8082/api/Charging/GetAllChargingData",
            data: {},
            success: function (data, status) {
                if (status == "success") {
                    $("#div_test").html(data);
                }
            },
            error: function (e) {
                $("#div_test").html("Error");
            },
            complete: function () {

            }

        });
});
</script>