<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="\\yyyyMM\\yyyyMMdd'.txt'" />
      <param name="staticLogFileName" value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value=" %nDate：%date - %Error ：%message%newline %n" />
        <!--<param name="ConversionPattern" value="%newline %nDate：%date %ThreadID:[%thread] %nLevel：  %-5level %nErrorClass：%logger property: [%property{NDC}] - %nError Description：%message%newline %n" />-->
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="rollingFile" />
    </root>
  </log4net>

</configuration>
